html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right, rgba(52, 51, 84),#73c2fb);

}
.header-text{
   text-align: center;
   font-size: 100px;
   color: white;
}
.top-nav{
    position: relative;
    text-align: center;
    padding: 20px; 
}

.top-nav a{
	text-decoration: none;
	color: white;
	font-size: 30px;

	padding: 60px;
}
body{
	background-color:#696969 ;

}
.border{
	border-top: 5px dashed plum;
	background-color: blueviolet;
	
}
.cpp-projects{
	display: flex;
	width: 60%;
	height: 250px;
	background-color: white;
	margin: 40px 40px 10px 20%;
	
	
}
.project-header-text{
	
	margin: 20px;
	font-weight: bolder;
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
}
.project-text{
	margin: 60px 20px;
	font-family: Roboto;
	font-size: 15px;
	word-wrap:normal;
	color: gray;
}
.vb{
	display: flex;
	width: 60%;
	height: 250px;
	background-color: white;
	margin: 20px 40px 0px 20%;
}
.web-dev{
	display: flex;
	width: 60%;
	height: 250px;
	background-color: white;
	margin: 20px 40px 10px 20%;
}

.cpp-section-text{
	text-align: center;
	font-size: 50px;
}
.cpp-border{
	border: 25px outset #73c2fb;
	width: 70%;
	margin: 20px 40px 10px 20%;
	background-color:  rgba(52, 51, 84) ;
}
.footer-text{
    font-family: 'Gaegu', roboto;
    padding: 10px 0px;
    font-size: 30px;
    margin: auto 43%;
    width: 100%;
}
footer{

    
    width: 100%;
    height: 8em;
    background-image: linear-gradient(to right, rgba(52, 51, 84),#73c2fb);
    margin-top: 100px;
    
    
   
}
.bottom-nav{
 
  
   margin: auto 40%; 
   width: 100%;
   padding: 10px;
   
}
.border{

border:  1px solid;
border-image: linear-gradient(to right, pink, blue) 1;
border-width:  1px 0px 5px  0px;


}
nav a{
   padding-right: 20px;
   
   color: white;
}
.copy-right{
   
    margin: auto 45%;
    width: 1000%;

   
    }