html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
.contact-header{
   margin: 0 auto;
   width: 1200px;
   padding-top: 2pc;
   
}

h1{
    display: inline-block;
     font-weight: 100;
     font-size:  2.9em;
    border-bottom: 1px solid white;
    margin: 0 0 0.1em 0;
    padding: 0 0 0.4em 0;
    color: white;
}
.border{

  border:  1px solid;
  border-image: linear-gradient(to right, pink, blue) 1;
  border-width:  1px 0px 5px  0px;
  
  
  }

header{
   
    height: 350px;
    background-image: linear-gradient(to right, rgba(52, 51, 84),#73c2fb);
  
    
}

.header-text{
    font-size: 1.25em;
    margin: 1em 0 0.4em 0;
    font-family: 'Lato', sans-serif; font-weight: 300;
    color: white;
}

.row{
   
    width: 60%;
    margin:35px auto;
    padding: 0 2.5em
   
    
}



form {
    max-width: 100%;
    display: block;
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0 0 0.25em 0; 
        clear: both;
        display: inline-block;
        width: 100%;
        &:last-child {
            margin: 0;    
          }
          p {
            margin: 0;
            padding: 0;
            float: left;
            &.right {
              float: right;
            }
          }     
          .divider {
            margin: 0.5em 0 0.5em 0;
            border: 0;
            height: 1px;
            width: 100%;
            display: block;
            background-color: blue;
            background-image: linear-gradient(to right, pink, blue);
          }
          .req {
            color: red; 
          }
      }
    }
    label {
      display: block;
      margin: 0 0 0.5em 0;
      color: blue;
      font-size: 1em;
    }
    input {
      margin: 0 0 0.5em 0;
      border: 1px solid grey;
      padding: 6px 10px;
      color: dark_grey;
      font-size: 1em;
    }
    textarea {
      border: 1px solid grey;
      padding: 6px 10px;
      width: 100%;
      color: dark_grey;
    }
    small {
      color: blue;
      margin: 0 0 0 0.5em;
    }
  }

  footer{

    
    width: 100%;
    height: 8em;
    background-image: linear-gradient(to right, rgba(52, 51, 84),#73c2fb);
    position: absolute; 
    bottom: 0; 
    
    
   
}
.bottom-nav{
 
  
   margin: auto 40%; width: 55%;
   padding: 10px;
   
}

.footer-text{
    font-family: 'Gaegu', roboto;
    padding: 10px 0px;
    font-size: 30px;
    margin: auto 43%;
    width: 100%;
}
.copy-right{
   
   margin: auto 45%;
   width: 100%;
   
    }
    .bottom-nav{
 
  
        margin: auto 40%; width: 55%;
        padding: 10px;
       
     }
     nav a{
        padding-right: 20px;
        
        color: white;
     }
     a{
        text-decoration: none;
     }
     a:hover{
   
        color: #e35335;
  }
  